<div class="tab-pane fade show active" id="nav-amenities" role="tabpanel" aria-labelledby="nav-amenities-tab">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Basic</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>High-Speed WiFi</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Air Conditioning</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Heating</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Seating</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Standing Desks</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Ergonomic Chairs</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Beanbags</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Community</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Events</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Community Lunches</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Workshops</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Community Drinks</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Facebook Group for Members</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Mentorship Programs</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Pitching events</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Accelerator programs</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Toastmasters</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Facilities</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Kitchen</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Skype Room</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Nearby Restaurants</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Makerspace</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Personal Lockers</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Phone Booth</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Event Space For Rent</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Nearby Airbnb</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Onsite Airbnb</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Equipment</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Printer</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>3D Printer</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Projector</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Transportation</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>5 Minute Walk From Public Transit</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>10 Minute Walk From Metro Station</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Bike Parking</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Relax Zones</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Outdoor Terrace</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Lounge / Chill-out Area</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card border-bottom rounded-0 p-4">
        <h2 class="h5">Caffeine Fix</h2>
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Free Tea</span>
          </li>
          <li class="d-flex py-1">
                                                    <span class="icon icon-xs icon-primary">
                                                        <span class="fas fa-check-circle mr-2"></span>
                                                    </span>
            <span>Free Coffee</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
