<div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
  <div class="row mb-5">
    <div class="col-12">
      <div class="fancy-gallery mb-5 pl-4 pr-4">
        <div class="row">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>
      <p><span class="font-weight-bold">L'atelier</span> is the brainchild of 3 innovative
        guys that want to create a working hub for the local community. The plan is to
        offer a cool place to hang out with other creative souls and let the brainwaves go
        berserk.
      </p>
      <p>The guys were the group behind the Startup Weekend Vancouver, Startup Pirates
        Vancouver and Startup Coffee Vancouver, so they are no fools and have plenty of
        experience in startups and community growth. This project is another notch into
        creating Vancouver as a regional startup hub.
      </p>
      <p>Cowork Vancouver is aiming to attract the techies, the freelance developers or
        anyone wishing to get involved in the startup scene - really there are no
        exclusions of bodies who may want a desk - the founders just want a community of
        entrepreneurs and geeks to mingle with.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card card-body bg-soft border-light p-2">
        <div class="card-group bg-soft">
          <div class="card mb-0">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="far fa-calendar-alt"></span>
              </div>
              <!-- Heading -->
              <div class="h5 mt-3 mb-0">
                1 Year
              </div>
              <!-- Text -->
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Minimum term
                                                        </span>
            </div>
          </div>
          <div class="card mb-0 border-left">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="fas fa-ruler-combined"></span>
              </div>
              <!-- Heading -->
              <div class="h5 mt-3 mb-0">
                180SqFt
              </div>
              <!-- Text -->
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Space size
                                                        </span>
            </div>
          </div>
          <div class="card mb-0 border-left">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="fas fa-users"></span>
              </div>
              <!-- Heading -->
              <div class="h5 mt-3 mb-0">
                10-30
              </div>
              <!-- Text -->
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Peoples
                                                        </span>
            </div>
          </div>
          <div class="card mb-0 border-left">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="fas fa-couch"></span>
              </div>
              <!-- Heading -->
              <div class="h5 mt-3 mb-0">
                Meeting
              </div>
              <!-- Text -->
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Space type
                                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
