<div class="tab-pane fade show active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">

  <h2 class="font-weight-normal ">Nisarg Gandh - 2 BHK for Rent</h2>
  <div class="d-block d-md-flex pb-3">
    <span class="text-success font-weight-light"><span class="fas fa-check-circle mr-1 pr-1"></span>Verified</span>
    <span class="lh-120 ml-md-4"><i class="fas fa-map-marker-alt mr-1 pr-1"></i>Datta Mandir Road, Wakad, Pune - 411057</span>
  </div>
  <div class="row  pl-3">
    <div class="col-lg-11 col-12">
      <div class="fancy-gallery mb-5 pr-4">
        <div class="row">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        </div>
      </div>

    </div>
  </div>
  <!--<div class="row pt-0">
    <div class="col">
      <div class="card card-body bg-soft border-light p-2">
        <div class="card-group bg-soft">
          <div class="card mb-0">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="far fa-calendar-alt"></span>
              </div>
              &lt;!&ndash; Heading &ndash;&gt;
              <div class="h5 mt-3 mb-0">
                1 Year
              </div>
              &lt;!&ndash; Text &ndash;&gt;
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Minimum term
                                                        </span>
            </div>
          </div>
          <div class="card mb-0 border-left">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="fas fa-ruler-combined"></span>
              </div>
              &lt;!&ndash; Heading &ndash;&gt;
              <div class="h5 mt-3 mb-0">
                180SqFt
              </div>
              &lt;!&ndash; Text &ndash;&gt;
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Space size
                                                        </span>
            </div>
          </div>
          <div class="card mb-0 border-left">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="fas fa-users"></span>
              </div>
              &lt;!&ndash; Heading &ndash;&gt;
              <div class="h5 mt-3 mb-0">
                10-30
              </div>
              &lt;!&ndash; Text &ndash;&gt;
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Peoples
                                                        </span>
            </div>
          </div>
          <div class="card mb-0 border-left">
            <div class="card-body text-center px-0 px-md-3">
              <div class="icon icon-secondary">
                <span class="fas fa-couch"></span>
              </div>
              &lt;!&ndash; Heading &ndash;&gt;
              <div class="h5 mt-3 mb-0">
                Meeting
              </div>
              &lt;!&ndash; Text &ndash;&gt;
              <span class="text-muted h6 font-weight-normal mb-0">
                                                            Space type
                                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <p><span class="font-weight-bold">The house</span> is fully furnished, it has easy access to market, schools,
    hospitals, banks and ATMs. This home is ideal for families.
  </p>
</div>
