<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" [formGroup]="form" class="card border-light p-4 p-lg-5 mb-4">
            <h1 class="h5 mb-4 mt-2">Property Location</h1>
            <div class="form-group form-group-lg mb-lg-0">
              <app-autocomplete-location></app-autocomplete-location>
            </div>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary btn-dark mt-2 animate-up-2"
                        type="submit">Next
                </button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</main>
