<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" [formGroup]="form" class="card border-light p-4 p-lg-5">
            <div class="form-group ">
              <a [routerLink]="['/post-property-details']" class="text-secondary font-small"
              ><i class="fas fa-arrow-left fa-lg"></i> <span class="pl-3 fa-lg font-weight-bold">Back</span>
              </a>
            </div>
            <h3>Step 2: Property Location</h3>
            <p class="lead ">Tell us property location.</p>
            <div class="row">
              <div class="col-12 col-lg-7">

                <div class="form-group mb-lg-0">
                  <div class="label">Society/Project/Building/Location</div>
                  <app-autocomplete-location></app-autocomplete-location>
                </div>

                <div class="form-group mt-4">
                  <label for="maintenanceCharges">Society Name</label>
                  <div class="input-group mb-4">
                    <input class="form-control" ngbAutofocus id="maintenanceCharges" placeholder="Enter Society name"
                           type="text" aria-label="your name">
                  </div>
                </div>

                <div class="form-group pt-4">
                  <button [routerLink]="['/post-property-rent']"
                          class="btn-lg btn-block btn-secondary mt-2 animate-up-2"
                          type="submit">Next
                  </button>
                </div>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</main>
