<main>

  <!-- <div class="preloader bg-dark flex-column justify-content-center align-items-center">
     <div class="position-relative">
       <img src="../assets/img/brand/light-without-letter.svg" alt="Logo loader">
       <img src="../assets/img/brand/letter.svg" class="rotate-letter" alt="Letter loader">
     </div>sdfsdf
   </div>-->

  <!-- Hero -->
  <section class="section section-header section-image bg-primary overlay-primary text-white pb-4 pb-md-7" data-background="/assets/img/loft.jpg" style="background-image: url('/assets/img/loft.jpg')">
    <div class="container">
      <div class="row justify-content-center mb-4 mb-xl-5">
        <div class="col-12 col-xl-10 text-center">
          <!-- Heading -->
          <h1 class="display-2">
            Find your rental property.
          </h1>
          <!-- Text -->
          <p class="lead text-muted mt-2 px-md-6">
            Discover and reserve property today.
          </p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-12">
          <div class="card p-md-2">
            <div class="card-body p-2 p-md-0">
              <form autocomplete="off" class="row" method="get" action="./all-spaces.html">
                <div class="col-12 col-lg-5">
                  <div class="form-group form-group-lg mb-lg-0">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><span class="fas fa-map-marker-alt"></span></span>
                      </div>
                      <input id="search-location" type="text" class="form-control autocomplete" placeholder="Search location" required>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-4">
                  <div class="input-group input-group-lg mb-3 mb-lg-0">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input class="form-control datepicker" placeholder="Select date" type="text" required>
                  </div>
                </div>
                <div class="col-12 col-lg-3">
                  <button class="btn btn-lg btn-primary btn-block animate-up-2" type="submit">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pb-lg-6 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
          <img class="img-fluid image-lg mb-4" src="../assets/img/illustrations/easy-transaction.svg" alt="northwestern logo">
          <h2 class="h4">Extraordinarily easy</h2>
          <p>Our search makes it verry simple to find your space. And from office match, we are here to help you.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
          <img class="img-fluid image-lg mb-4" src="../assets/img/illustrations/support.svg" alt="northwestern logo">
          <h2 class="h4">Truly transparent</h2>
          <p>We give you all this info, lifting the lid on actual offices, real availability, and accurate pricing.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center mb-4 mb-md-0 px-lg-4">
          <img class="img-fluid image-lg mb-4" src="../assets/img/illustrations/payment.svg" alt="northwestern logo">
          <h2 class="h4">Best prices</h2>
          <p>Choose Spaces and our experts will save you around 15% off the list price. What are you waiting for?</p>
        </div>
      </div>

    </div>
  </section>

</main>
