
<header class="header-global">
  <ngx-headroom upTolerance="0" downTolerance="0" duration="500" easing="ease-in-out">
    <nav id="navbar-main" class="navbar navbar-main navbar-theme-primary navbar-expand-lg headroom py-lg-3 px-lg-6 navbar-dark navbar-transparent navbar-theme-primary">
    <div class="container">
      <a class="navbar-brand @@logo_classes" [routerLink]="['/property-search']">
        <img class="navbar-brand-dark common" src="../assets/img/brand/light.svg" height="35" alt="Logo light">
        <img class="navbar-brand-light common" src="../assets/img/brand/dark.svg" height="35" alt="Logo dark">
      </a>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="../assets/img/brand/dark.svg" height="35" alt="Logo Impact">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <a href="#navbar_global" role="button" class="fas fa-times" data-toggle="collapse"
                 data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                 aria-label="Toggle navigation"></a>
            </div>
          </div>
        </div>

      </div>
      <div class="d-none d-lg-block @@cta_button_classes">
        <a href="https://themesberg.com/docs/spaces/components/buttons/" target="_blank" class="btn btn-md btn-secondary animate-up-2 mr-3"><i class="fas fa-plus mr-2"></i> <span class="d-xl-none">Docs</span> <span class="d-none d-xl-inline">List a Property</span></a>
        <a href="https://themes.getbootstrap.com/product/spaces/" target="_blank" class="btn btn-md btn-outline-white animate-up-2">Login / Sign Up</a>
      </div>
      <div class="d-flex d-lg-none align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      </div>
    </div>
  </nav>
  </ngx-headroom>
</header>
<router-outlet></router-outlet>


<footer class="footer bg-primary text-white pt-2 ">
  <div class="container">

    <!--<hr class="my-3 my-lg-5">-->
    <div class="row">
      <div class="col mb-md-0">

        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
          <p class="font-weight-normal font-small mt-2">© Pavasa
            <span class="current-year">2021</span>. All rights reserved. &nbsp;&nbsp;
             <a target="_blank" href="https://themesberg.com/blog">Privacy policy</a>
            <span> | </span>
            <a target="_blank" href="https://themesberg.com/products">Sitemap</a>
            <span> | </span>
            <a target="_blank" href="https://themesberg.com/products">Contact us</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</footer>
