<main>

  <div class="section bg-soft">
    <div class="container">
      <div class="row pt-5 pt-lg-3">
        <div class="col-12 col-lg-10">

          <form action="#" method="post" class="card text-gray border-light p-4 mb-4">
            <h3>Step 3: Upload Property photos</h3>
            <p class="lead ">Upload your property photos.</p>

            <div class="d-flex justify-content-between align-items-center mt-2">
              <div class="custom-file">
                <input id="gallery" type="file" class="custom-file-input" multiple>
                <label class="custom-file-label" for="gallery">Choose files</label>
              </div>
            </div>
            <small class="text-gray font-weight-light font-xs d-block mt-2">Images should be at least 500 pixels wide and only *.jpg, *.png and *.jpeg formats are accepted.</small>
            <div class="d-flex flex-wrap mt-4">
              <div class="profile-image-small fmxw-100 mr-3 mb-3">
                <img class="rounded" src="../../assets/img/account/office-1.jpg" alt="Office Conference">
              </div>
              <div class="profile-image-small fmxw-100 mr-3 mb-3">
                <img class="rounded" src="../../assets/img/account/office-2.jpg" alt="Office Cowork">
              </div>
              <div class="profile-image-small fmxw-100 mr-3 mb-3">
                <img class="rounded" src="../../assets/img/account/office-3.jpg" alt="Office Lifestyle">
              </div>
              <div class="profile-image-small fmxw-100 mr-3 mb-3">
                <img class="rounded" src="../../assets/img/account/office-1.jpg" alt="Themesberg Office">
              </div>
              <div class="profile-image-small fmxw-100 mr-3 mb-3">
                <img class="rounded" src="../../assets/img/account/office-2.jpg" alt="Office Meeting">
              </div>
              <div class="profile-image-small fmxw-100 mr-3 mb-3">
                <img class="rounded" src="../../assets/img/account/office-3.jpg" alt="Office Private">
              </div>
            </div>
          </form>




        </div>
      </div>
    </div>
  </div>
</main>
