<main>
  <!-- Hero -->
  <section class="section-header bg-soft pb-7">
    <div class="container">
      <div class="row justify-content-center mb-6">
        <div class="col-12 col-lg-10 text-center">
          <h1 class="display-2 mb-3">Our pricing plan made simple</h1>
          <p class="lead px-lg-7">Upgrade your space for higher rankings, powerful features & more ways to connect with potential customers</p>
        </div>
      </div>
      <div class="row mb-4 mb-lg-5">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <!-- Pricing Card -->
          <div class="pricing-card">
            <div class="card border-light p-1 p-lg-2 p-xl-4">
              <!-- Header -->
              <header class="card-header border-bottom bg-white text-center">
                <h2 class="h3 font-weight-normal text-gray mb-4">Free</h2>
                <span class="d-block">
                                        <span class="display-1 text-primary font-weight-bold">
                                            <span class="align-top font-medium">$</span>0
                                    </span>
                                    <span class="font-small">/ month</span>
                                    </span>
              </header>
              <!-- End Header -->
              <!-- Content -->
              <div class="card-body">
                <h3 class="h6 font-weight-normal text-dark mb-4">Get listed in the directory:</h3>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Unlimited photos</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Unlimited videos</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Receive messages</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Display your contact info</p>
                </div>
                <button type="button" class="btn btn-outline-primary btn-block mt-4"><span class="fas fa-cart-plus mr-3"></span>Add to Cart</button>
              </div>
              <!-- End Content -->
            </div>
          </div>
          <!-- End of Pricing Card -->
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <!-- Pricing Card -->
          <div class="pricing-card">
            <div class="card border-light p-1 p-lg-2 p-xl-4">
              <!-- Header -->
              <header class="card-header border-bottom bg-white text-center">
                <h2 class="h3 font-weight-normal text-gray mb-4">Silver</h2>
                <span class="d-block">
                                        <span class="display-1 text-primary font-weight-bold">
                                            <span class="align-top font-medium">$</span>19
                                    </span>
                                    <span class="font-small">/ month</span>
                                    </span>
              </header>
              <!-- End Header -->
              <!-- Content -->
              <div class="card-body">
                <h3 class="h6 font-weight-normal text-dark mb-4">Everything in the Free Plan:</h3>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Rank booster</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Lead capturing buttons</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Connect your social media</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Display your contact info</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Link to your website</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Promote your best review</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Booking & Lead Logs</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Priority customer support</p>
                </div>
                <button type="button" class="btn btn-outline-primary btn-block mt-4" tabindex="0"><span class="fas fa-cart-plus mr-3"></span>Add to Cart</button>
              </div>
              <!-- End Content -->
            </div>
          </div>
          <!-- End of Pricing Card -->
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <!-- Pricing Card -->
          <div class="pricing-card">
            <div class="card border-light p-1 p-lg-2 p-xl-4">
              <!-- Header -->
              <header class="card-header border-bottom bg-white text-center">
                <h2 class="h3 font-weight-normal text-gray mb-4">Gold</h2>
                <span class="d-block">
                                        <span class="display-1 text-primary font-weight-bold">
                                            <span class="align-top font-medium">$</span>49
                                    </span>
                                    <span class="font-small">/ month</span>
                                    </span>
              </header>
              <!-- End Header -->
              <!-- Content -->
              <div class="card-body">
                <h3 class="h6 font-weight-normal text-dark mb-4">Everything in the other Plans:</h3>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Appear at the top of your city's search page</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Appear at the top of popular spaces page</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Receive a special "Popular Now" banner</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>A custom pin drop on the map</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Spaces Instagram takeover (*annual subscriber)</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Priority customer support and on boarding</p>
                </div>
                <div class="d-flex">
                  <div class="icon-md icon-secondary lh-180 mr-3">
                    <span class="fas fa-check-circle"></span>
                  </div>
                  <p>Advertising campaign</p>
                </div>
                <button type="button" class="btn btn-outline-primary btn-block mt-4" tabindex="0"><span class="fas fa-cart-plus mr-3"></span>Add to Cart</button>
              </div>
              <!-- End Content -->
            </div>
          </div>
          <!-- End of Pricing Card -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-10 text-center">
          <h2 class="mb-3">Still not convinced? <br class="d-lg-none"> Start with a 3-day FREE trial!</h2>
          <p class="lead mb-5 px-5">You will get full access to your Dashboard with all the features for 3 days.</p>
          <!-- Button -->
          <a href="./dashboard/account.html" class="btn btn-primary animate-up-2">
            Start a free demo<span class="icon icon-xs ml-3"><span class="fas fa-arrow-right"></span></span>
          </a>
        </div>
      </div>
    </div>
    <div class="pattern bottom"></div>
  </section>
  <section class="section section-lg pb-0">
    <div class="container">
      <div class="row justify-content-center mb-6">
        <div class="col-12 col-md-8 text-center">
          <h1 class="display-3 mb-4">Increase visibility</h1>
          <p class="lead">We add new tools and features regularly.</p>
        </div>
      </div>
      <div class="row mt-6">
        <div class="col-12 col-md-6">
          <!-- Icon Box -->
          <div class="card border-light mb-4">
            <div class="card-body">
              <div class="d-flex flex-column flex-lg-row p-3">
                <div class="mb-3 mb-lg-0">
                  <div class="icon icon-secondary"><span class="far fa-life-ring"></span></div>
                </div>
                <div class="pl-lg-4">
                  <h5 class="mb-3">24/5 customer support</h5>
                  <p>Have a question, concern or feedback for us? Our support team is just a quick chat or email away — 24 hours a day, Monday to Friday.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Icon Box -->
        </div>
        <div class="col-12 col-md-6">
          <!-- Icon Box -->
          <div class="card border-light mb-4">
            <div class="card-body">
              <div class="d-flex flex-column flex-lg-row p-3">
                <div class="mb-3 mb-lg-0">
                  <div class="icon icon-secondary"><span class="fas fa-rocket"></span></div>
                </div>
                <div class="pl-lg-4">
                  <h5 class="mb-3">Rank Booster</h5>
                  <p>On average, spaces who appear near the top of the search results receive 3x the impressions in comparison to spaces who are below.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Icon Box -->
        </div>
        <div class="col-12 col-md-6">
          <!-- Icon Box -->
          <div class="card border-light mb-4">
            <div class="card-body">
              <div class="d-flex flex-column flex-lg-row p-3">
                <div class="mb-3 mb-lg-0">
                  <div class="icon icon-secondary"><span class="fas fa-mail-bulk"></span></div>
                </div>
                <div class="pl-lg-4">
                  <h5 class="mb-3">Unlimited Messages</h5>
                  <p>No need to log into yet another platform - we send full details with all messages, bookings requests and leads directly to you.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Icon Box -->
        </div>
        <div class="col-12 col-md-6">
          <!-- Icon Box -->
          <div class="card border-light mb-4">
            <div class="card-body">
              <div class="d-flex flex-column flex-lg-row p-3">
                <div class="mb-3 mb-lg-0">
                  <div class="icon icon-secondary"><span class="far fa-calendar-check"></span></div>
                </div>
                <div class="pl-lg-4">
                  <h5 class="mb-3">Tour Bookings</h5>
                  <p>Schedule a tour for clients. You can preset and determine the specific day and time according to your schedule and preference.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Icon Box -->
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-white line-bottom-light">
    <div class="container">
      <div class="row justify-content-center mb-4 mb-lg-6">
        <div class="col-12 col-lg-8 text-center">
          <h1 class="display-3 mb-4">Frequently asked questions</h1>
          <p class="lead text-gray">Here’s what you need to know about your Rocket license, based on the questions we get asked the most.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <!--Accordion-->
          <div class="accordion" id="accordionExample1">
            <div class="card card-sm card-body border-light mb-0">
              <a href="#panel-1" data-target="#panel-1" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1"><span class="h6 mb-0 font-weight-bold">What is Spaces</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
              <div class="collapse" id="panel-1">
                <div class="pt-3">
                  <p class="mb-0">At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>
                </div>
              </div>
            </div>
            <div class="card card-sm card-body border-light mb-0">
              <a href="#panel-2" data-target="#panel-2" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2"><span class="h6 mb-0 font-weight-bold">About us</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
              <div class="collapse" id="panel-2">
                <div class="pt-3">
                  <p class="mb-0">At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>
                </div>
              </div>
            </div>
            <div class="card card-sm card-body border-light mb-0">
              <a href="#panel-3" data-target="#panel-3" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3"><span class="h6 mb-0 font-weight-bold">Licenses</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
              <div class="collapse" id="panel-3">
                <div class="pt-3">
                  <p class="mb-0">At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>
                </div>
              </div>
            </div>
            <div class="card card-sm card-body border-light">
              <a href="#panel-4" data-target="#panel-4" class="accordion-panel-header" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4"><span class="h6 mb-0 font-weight-bold">Is there a money back guarantee?</span> <span class="icon"><span class="fas fa-plus"></span></span></a>
              <div class="collapse" id="panel-4">
                <div class="pt-3">
                  <p class="mb-0">At Themesberg, our mission has always been focused on bringing openness and transparency to the design process. We've always believed that by providing a space where designers can share ongoing work not only empowers them to make better products, it also helps them grow. We're proud to be a part of creating a more open culture and to continue building a product that supports this vision.</p>
                </div>
              </div>
            </div>
          </div>
          <!--End of Accordion-->
        </div>
      </div>
    </div>
  </section>
  <section class="section section-md bg-soft">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="mb-5">We accept PayPal and all major credit cards.</h3>
        </div>
        <div class="col-12 text-black text-center mb-5">
          <div class="icon icon-lg mr-2 mr-sm-3">
            <span class="fab fa-cc-visa"></span>
          </div>
          <div class="icon icon-lg mr-2 mr-sm-3">
            <span class="fab fa-bitcoin"></span>
          </div>
          <div class="icon icon-lg mr-2 mr-sm-3">
            <span class="fab fa-cc-mastercard"></span>
          </div>
          <div class="icon icon-lg mr-2 mr-sm-3">
            <span class="fab fa-cc-stripe"></span>
          </div>
          <div class="icon icon-lg mr-2 mr-sm-3">
            <span class="fab fa-cc-amazon-pay"></span>
          </div>
          <div class="icon icon-lg mr-2 mr-sm-3">
            <span class="fab fa-cc-paypal"></span>
          </div>
        </div>
        <div class="col-12 text-center">
          <a href="./contact.html"><strong>Chat with us</strong></a><span class="border-right border-gray mx-2"></span>Send us an email to <a href="mailto:support@yourcompany.com"><strong>support@yourcompany.com</strong></a>
        </div>
      </div>
    </div>
  </section>
</main>
