
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-6 col-lg-12">
      <a [routerLink]="['/post-property-details']" class="btn btn-outline-secondary btn-block mb-4 py-4">
        <span class="mr-2"><span class="fas fa-plus"></span></span>Submit New Property
      </a>
      <div class="card border-light mb-10">
        <div class="row no-gutters align-items-center">
          <div class="col-12 col-lg-6 col-xl-4">
            <a href="../single-space.html">
              <img src="../../assets/img/meeting-office.jpg" alt="private office"
                   class="card-img p-2 rounded-xl">
            </a>
          </div>
          <div class="col-12 col-lg-6 col-xl-8">
            <div class="card-body py-lg-0">
              <div class="d-flex no-gutters align-items-center mb-3">
                <div class="col text-left">
                  <ul class="list-group mb-0">
                    <li class="list-group-item small p-0"><span
                      class="fas fa-medal text-tertiary mr-2"></span>Active
                      until: 12 June
                    </li>
                  </ul>
                  <div class="modal fade bd-example-modal-lg" id="modal-notification"
                       tabindex="-1" role="dialog"
                       aria-labelledby="modal-notification" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg"
                         role="document">
                      <div class="modal-content bg-white px-0">
                        <div class="modal-header">
                          <h2 class="h5 mb-3">Collaborative Workspace</h2>
                          <button type="button" class="close"
                                  data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="d-flex align-items-center">
                            <div class="col">
                              <h2 class="h4">Views</h2>
                            </div>
                            <div class="col-3">
                              <div class="form-group">
                                <select class="custom-select"
                                        id="exampleFormControlSelect2">
                                  <option>15 days</option>
                                  <option>30 days</option>
                                  <option>60 days</option>
                                  <option>90 days</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="ct-chart-statistics ct-golden-section ct-series-a"></div>
                        </div>
                        <div class="modal-footer">
                          <button type="button"
                                  class="btn btn-sm btn-secondary">Go to
                            Dashboard
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col text-right">
                  <div class="btn-group">
                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                                            <span class="icon icon-sm">
                                                                <span class="fas fa-ellipsis-h icon-secondary"></span>
                                                            </span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="./edit-item.html"><span
                        class="fas fa-edit mr-2"></span>
                        Edit Item</a>
                      <a class="dropdown-item text-danger" href="#"><span
                        class="fa fa-trash mr-2"
                        aria-hidden="true"></span>
                        Disable</a>
                      <a class="dropdown-item" data-toggle="modal"
                         data-target="#modal-notification"><span
                        class="fas fa-chart-line mr-2"></span>Statistics</a>
                    </div>
                  </div>
                </div>
              </div>
              <a href="../single-space.html">
                <h2 class="h5">Collaborative Workspace</h2>
              </a>
              <div class="col d-flex pl-0">
                                                <span class="text-success font-small mr-3"><span
                                                  class="fas fa-check-circle mr-2"></span>Active</span>
                <span class="text-muted font-small mr-3"><span
                  class="fas fa-eye mr-2"></span>680</span>
                <span class="text-muted font-small mr-3"><span
                  class="far fa-heart mr-2"></span>10</span>
                <a class="font-small text-dark" href="./messages.html"><span
                  class="fas fa-envelope mr-2"></span>8</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
